---
title: "Download"
---

<section class="centered-introduction">
    <h1>About versions</h1>
    <p>The latest released version is <b>2023.03</b>. When <a href="https://developer.pitivi.org/Bug_reporting.html">reporting bugs</a> please make sure they affect the latest release or the development version.</p>
    
    <p>Various GNU/Linux distributions provide Pitivi in their repositories, but the version provided may be old or there might be bugs related to packaging that we have no control over. <b>The recommended way of using and testing Pitivi is through our distro-agnostic packages below</b>.</p>
</section>
    
<section class="auto-column-half">
    <a href="https://flathub.org/apps/details/org.pitivi.Pitivi" class="hidden">
        <h1 style="text-align: center;">Pre-built, distro-agnostic packages<img src="flatpak.png" alt="Flatpak package icon" class="centered-image" /></h1>
    </a>
    <p>In order to eliminate dependency problems we provide a convenient package using Flatpak. The flatpak package can be installed with minimal effort and is updated as soon as we release new versions.</p>
    <p>Please <a href="https://flathub.org/apps/details/org.pitivi.Pitivi">install Pitivi from Flathub</a>.</p>
</section>
    
<section class="auto-column-half not_first">
    <a href="https://developer.pitivi.org/Install_with_flatpak.html" class="hidden">
        <h1 style="text-align: center;">Development version<img src="applications-development.png" alt="dev icon" class="centered-image" /></h1>
    </a>
    <p>For testing purposes, the <b>development version</b> can be <a href="https://developer.pitivi.org/Install_with_flatpak.html">installed using flatpak</a>.</p>

    <p>To build Pitivi yourself, set up the <a href="https://developer.pitivi.org/HACKING.html">development environment</a>.</p>
    
    <p style="color:gray;">Tarballs of Pitivi's source code are available on the <a href="https://download.gnome.org/sources/pitivi/">GNOME downloads page</a> (for packagers, typically). You should only use that if you <i>really</i> know what you're doing.</p>
</section>
    