---
title: "Contributing"
---

<section class="centered-introduction">
<h1>Why contribute to Pitivi instead of another project?</h1>

<div style="width:40%; float:right; margin-left:10px;">
    <video controls preload="none" poster="{{< videos_site >}}/videos/gst-hackfest-2013-360p.jpg"><source src="{{< videos_site >}}/videos/gst-hackfest-2013-360p.webm" type='video/webm; codecs="vp8, vorbis"' /></video>
</div>

<ul>
    <li>COMMUNITY — Pitivi is an <b>active project</b> used by thousands of people and developed <b>100% in the open</b> by <a href="https://www.openhub.net/p/pitivi/contributors"><b>many</b> contributors</a>. We offer <b>excellent mentorship</b> for GSoC students or anyone interested in getting involved seriously.</li>
    <li>TECHNOLOGY — Pitivi is written in Python, which makes frontend development fun and easy. We use the brilliant <a href="https://en.wikipedia.org/wiki/GStreamer">GStreamer</a> multimedia framework, through which we also benefit from improvements in other libraries like FFmpeg/libav, frei0r and many others.</li>
    <li>BEING GOOD CITIZENS — The multimedia community loves us because we push the boundaries of what can be accomplished with GStreamer, and we stay true to the "upstream first" approach: we fix problems directly in the projects we depend on, instead of piling up nasty hacks in our application.</li>
    <li>EXPERTISE — We're an <b>established project</b> with deep expertise that younger projects do not have, and <b>we are here to stay</b>. Don't make the mistake of "reinventing the wheel" like <a href="/i/history.png">countless others</a>.</li>
</ul>
</section>

<section class="auto-column-half">
<h2>Writing code</h2>

<p>There are three main areas where you can contribute code:</p>
<ul>
    <li><b>Pitivi itself</b>, mostly UI work. It is written in Python (a flexible, easy to learn high-level programming language), which helps lower barriers of entry and keeps the code clean and simple.</li>
    <li><b>Pitivi's test suite</b> (also written in Python). Feel like improving the quality of Pitivi but not comfortable enough to jump into the "real" code? This is for you! There's always room for improvement and more comprehensive testing, so think about corner cases/reproducible bugs that you'd like to see systematically tested, and write some test cases for them! See the <a href="https://developer.pitivi.org/Testing.html">testing documentation</a> page.</li>
    <li><b>GStreamer Editing Services</b>, the C library on which Pitivi depends to do all the serious work. If you want to work on the backend, this is the way to go.</li>
</ul>

<p>To get started:</p>
<ol>
    <li>Set up your <a href="https://developer.pitivi.org/HACKING.html">development environment</a>.</li>
    <li>Pick one of the <a href="https://gitlab.gnome.org/GNOME/pitivi/-/issues?label_name%5B%5D=4.+Newcomers">fun tasks for newcomers</a>.</li>
    <li>Proceed to fix the issue according to our <a href="https://developer.pitivi.org/Development_workflow.html">Development Workflow</a>.</li>
</ol>

<p>See our <a href="https://developer.pitivi.org">documentation for contributors</a> in case you have a question.</p>

<p>Most importantly, come <a href="/contact/">hang out with us</a> in our Matrix room. We'll be happy to help.</p>
</section>


<section class="auto-column-half">
<h2>Spreading the word</h2>
<p>Keeping people informed of the progress we're making is the resposibility of our PR department. If you love explaining and storytelling, you could help in many ways: writing blog posts, preparing announcements and release notes, making videos, etc.</p>

<h2>Improving the user manual</h2>
<p>We use <a href="http://projectmallard.org/">Mallard</a> to provide a high-quality, topic-oriented <a href="/manual/">user manual</a> bundled with the application. Help us by writing new topics, refining existing ones, or simply by reviewing and keeping the user manual up-to-date and ready for the next release.</p>

<h2>Translating</h2>
<p>Translations are kindly handled by dedicated translation teams from the GNOME community. To be able to commit translations to Pitivi in an organized fashion, you must join the <a href="https://wiki.gnome.org/TranslationProject">GNOME translation</a> team for your native language.


<h2>Testing &amp; Reporting bugs</h2>
<p>We use GitLab to track enhancement requests and bug reports. Our bug tracker is well-organized and issues are investigated systematically. See our <a href="https://developer.pitivi.org/Bug_reporting.html">bug reporting</a> info page for useful links and details.</p>
<p>Quality releases require regular testers! So please <a href="/download/">download</a> our latest daily build and report any issues you encounter.</p>
</section>
