---
title: "Contact"
---

<section class="centered-introduction">
    <h1>We love feedback!</h1>
    <p>Make sure it's constructive and to the point, though. Praise is good but don't exaggerate. Showing us your videos edited with Pitivi is the best compliment.</p>
</section>

<section class="auto-column-half">
    <h1>Reporting problems</h1>
    <p>We track enhancement requests and bug reports in GitLab. Our bug tracker is well-organized and issues are investigated systematically. See our <a href="https://developer.pitivi.org/Bug_reporting.html">bug reporting</a> info page for useful links and details.</p>

    <h1>Chatting</h1>
    <p>You can find us in the our Matrix room at <a href="https://matrix.to/#/#pitivi:matrix.org">#pitivi:matrix.org</a>. Our Matrix room keeps the history of the messages, so if you lose the connection you can see the entire conversation when you reconnect.</p>
    
    <p>For those still attached to their IRC clients, connect to <a href="https://oftc.net/">OFTC</a> and join the channel <b>#pitivi</b>. The channel is bridged to the Matrix room. The IRC channel should be used as a last resort, most of us are in the Matix room.</p>
    
    <p>Do not hesitate to ask questions, and do not panic if somebody answers your question immediately.</p>
    
    <p>If you need to speak to someone in particular, you may try mentioning the nickname (ex.: "nekohayo"). See also the main <a href="https://developer.pitivi.org/The_people.html">list of people</a> involved in the project.</p>
</section>
    
    
<section class="auto-column-half">
    <h1>At a public event</h1>
    <p>We attend various conferences and hackfests. To know where and when you might be able to meet us in person, follow us on <a href="https://twitter.com/pitivi">Twitter</a>, watch our <a href="https://www.pitivi.org/index.xml">RSS feed</a>, or take a look at our public calendar below:</p>
    <iframe src="https://www.google.com/calendar/embed?showTitle=0&amp;showPrint=0&amp;showCalendars=0&amp;height=300&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=m4r5pf5da7c8kdba1cjq2d3jb4%40group.calendar.google.com&amp;color=%23AB8B00&amp" style=" border-width:0 " width="440" height="300" frameborder="0" scrolling="no"></iframe>
</section>
    