---
title: "Showcase"
---

<section class="centered-introduction">
<h1>What will you create today?</h1>
<p>Here are some videos created with Pitivi, as well as talks we have given at various conferences and events. If you made a nice movie with Pitivi, tell us about it!</p>
</section>



<section id="showcase_movies">
<h1>Movies made with Pitivi</h1>

<div class="box">
<h2>Cabane de Bertol</h2>
<p>Shot in Switzerland with a GoPro HD HERO and edited with Pitivi 0.15, this majestic video features impressive takes from adventurous and barren lands. Slideshows were made with <a href="http://imagination.sf.net">Imagination</a>.</p>
<video controls preload="none" poster="{{< videos_site >}}/videos/showcase/Cabane Bertol - SD.jpg"><source src="{{< videos_site >}}/videos/showcase/Cabane Bertol - SD.webm" type='video/webm; codecs="vp8, vorbis"' /></video>
</div>

<div class="box">
<h2>Pitivi hackfest &amp; Desktop Summit 2011</h2>
<p>Edited with Pitivi 0.15, this video not only provides you with an insider look at how Pitivi developers work together, but uses effects to correct the color balance in some shots, crossfades, transparent images, clip transformation and compositing, etc. Shot with a Canon S95.</p>
<video controls preload="none" poster="{{< videos_site >}}/videos/showcase/Pitivi hackfest in Berlin - SD.jpg"><source src="{{< videos_site >}}/videos/showcase/Pitivi hackfest in Berlin - SD.webm" type='video/webm; codecs="vp8, vorbis"' /></video>
</div>

<div class="box">
<h2>Snowy hackfest &amp; Boston Summit 2010</h2>
<p>Edited with Pitivi 0.14, this video uses effects to correct the color balance in some shots. Shot with a Canon S95.</p>
<video controls preload="none" poster="{{< videos_site >}}/videos/showcase/Snowy hackfest and Boston Summit.jpg"><source src="{{< videos_site >}}/videos/showcase/Snowy hackfest and Boston Summit.webm" type='video/webm; codecs="vp8, vorbis"' /></video>
</div>

<div class="box">
<h2>Burn the Man</h2>
<p>Shot with a Canon SD780IS point and shoot, by Ian Norman.</p>
<video controls preload="none" poster="{{< videos_site >}}/videos/showcase/Burn the Man - SD.jpg"><source src="{{< videos_site >}}/videos/showcase/Burn the Man - SD.webm" type='video/webm; codecs="vp8, vorbis"' /></video>
</div>

<div class="box">
<h2>Traction Control</h2>
<p>Shot with a Canon EOS 5D Mark II DSLR, by Ian Norman.</p>
<video controls preload="none" poster="{{< videos_site >}}/videos/showcase/Traction Control - SD.jpg"><source src="{{< videos_site >}}/videos/showcase/Traction Control - SD.webm" type='video/webm; codecs="vp8, vorbis"' /></video>
</div>

<div class="box">
<h2>Morning Sun</h2>
<p>Patrick Trettenbrein's footage, shot in 2009 with a Porst Reflex ZR 148 (a Super 8 camcorder from the 70's), is a refreshing video in these days of razor-sharp HD images. As one commenter said, "this﻿ is how skateboarding should be, HD is ruining the skateboard scene" ☺</p>
<video controls preload="none" poster="{{< videos_site >}}/videos/showcase/Morning Sun.jpg"><source src="{{< videos_site >}}/videos/showcase/Morning Sun.webm" type='video/webm; codecs="vp8, vorbis"' /></video>
</div>

</section>




<section id="showcase_talks">
<h1>Talks / presentations</h1>

<h2>GStreamer conference 2013</h2>
<p>Thibault Saunier and Mathieu Duponchelle present GES, the "Open Source Swiss Army Knife of Multimedia Editing". Topics include: the design of the underlying framework, the challenges it solves and the potential it has for usecases beyond simple offline video editing.</p>

<h2>GUADEC 2013</h2>
<p>Our own recording, edited with Pitivi:</p>
<video controls preload="none" poster="{{< videos_site >}}/videos/talks/guadec-2013.jpg"><source src="{{< videos_site >}}/videos/talks/guadec-2013.ogv" type='video/ogg; codecs="theora, vorbis"' /></video>

<p>A high-definition version is also available <a href="https://pitivi.ecchi.ca/talks/">here</a>.</p>

<h2>GStreamer conference 2012</h2>
<p>What are the <i>GStreamer Editing Services</i> and why should you use them? From the GStreamer conference in San Diego, Jean-François and Thibault provide an in-depth look at GES, how it works and what challenges it tries to solve. The talk recording is available <a href="https://gstconf.ubicast.tv/videos/case-study-development-with-ges/">here</a>. A copy of the recording is also available on our own mirror <a href="https://pitivi.ecchi.ca/talks/">here</a>.</p>

<h2>GNOME Asia and GUADEC 2012</h2>
<p>Jean-François presented at the GNOME Asia summit (Hong Kong) and at GUADEC (A Coruña). While the GUADEC organizers did record the talks, nothing beats our own recording:</p>
<video controls preload="none" poster="{{< videos_site >}}/videos/talks/guadec-2012.jpg"><source src="{{< videos_site >}}/videos/talks/guadec-2012.webm" type='video/webm; codecs="vp8, vorbis"' /></video>

<p>A high-definition version is also available <a href="https://pitivi.ecchi.ca/talks/">here</a>.</p>

<h2>ExpoLibre Talca 2012</h2>
<p>A talk about GES by Thibault Saunier, in Spanish. Videos: <a href="https://youtube.com/watch?v=6CV63QgMPO0">part 1</a>, <a href="https://youtube.com/watch?v=5BOyyE5f_P4">part 2</a>.

<h2>LGM 2011</h2>
<p>At <a href="https://libregraphicsmeeting.org">Libre Graphics Meeting</a> 2011 in Montréal, Canada. The presentation covers the challenges of open source video editing, the current state of affairs on Linux, what has happened since Jean-François first presented at LGM in 2009, why Pitivi shall prevail, etc.</p>
<video controls preload="none" poster="{{< videos_site >}}/videos/talks/lgm-2011.jpg"><source src="{{< videos_site >}}/videos/talks/lgm-2011.webm" type='video/webm; codecs="vp8, vorbis"' /></video>

<p>Shot with multiple cameras (a Canon S95, a Sony HDR-XR520V and a Sony HDR-XR200) and multiple microphones, this video was edited entirely with Pitivi. This edit is uniquely different from the official LGM talk recording, providing multiple angles with transitions, high quality presentation slides and a more dynamic style.</p>


<h2>MeeGo Conf 2011</h2>
<p>In this talk, Edward Hervey presents the GStreamer Editing Services (GES) library, which adds support for high quality and low overhead video editing in an easy manner with GStreamer.</p>
<video controls preload="none" poster="{{< videos_site >}}/videos/talks/meeconf-2011.jpg"><source src="{{< videos_site >}}/videos/talks/meeconf-2011.webm" type='video/webm; codecs="vp8, vorbis"' /></video>


<h2>LGM 2009</h2>
<p>This talk by Jean-François was focused on the history of Pitivi from 2005 to 2009 and its design goals for the future. It is complementary to the LGM 2011 talk.</p>
<video controls preload="none"><source src="{{< videos_site >}}/videos/talks/lgm-2009.ogv" type='video/ogg; codecs="theora, vorbis"' /></video>
</section>




<section style="clear: both;">
<h1>Screencasts/demos archive</h1>
<p>If you're feeling nostalgic, you can still see the official <a href="https://pitivi.ecchi.ca/pitivi 0.15 demo.webm">release demo video for Pitivi 0.15</a>, providing an overview of changes since the 0.13.1 screencast.</p>
</section>
