---
title: "Donators"
---

<section class="centered-introduction">
    <h1>Time, money and trees</h1>
    <p>One of the things we value the most is the community of contributors driving Pitivi (<a href="/contribute/">join us!</a>). For us, time is usually more precious and scarce than money. Nevertheless, we can put money to good use!</p>

    <p style="color:#002200;">Alternatively, consider planting trees in the <a href="https://tree-nation.com/profile/pitivi">Pitivi forest<i class="fas fa-tree" style="color:#262;margin-left:0.3em;"></i><i class="fas fa-tree" style="color:#070;margin-left:2px;font-size:85%;"></i><i class="fas fa-tree" style="color:#181;font-size:105%;"></i><i class="fas fa-tree" style="color:#191;margin-left:3px;font-size:95%;"></i></a> to motivate the developers.</p>
</section>
    
<section class="auto-column-half">
    <a href="https://liberapay.com/Pitivi/" class="discreet hidden">
        <h1>I want to donate as an individual</h1>
        <img src="shut-up-and-take-my-money.png" style="width:auto;" alt="donation motivational" />
    </a>
    <p>You can support us <a href="https://liberapay.com/Pitivi/">through Liberapay</a>, a Free/libre and ethical donation system owned by a non-profit organization based in France. Liberapay donations are handled by <a href="https://developer.pitivi.org/The_people.html">Alexandru</a>.</p>
</section>
    
    
<section class="auto-column-half">
    <h1>What do you do with the money?</h1>
    Donations and the GSoC fees we receive allow us to:
    <ul>
        <li>Cover hosting expenses for the daily flatpak package.</li>
        <li>Hire maintainers and experienced contributors for occasional focused work.</li>
    </ul>

    <h1>Let's talk serious business</h1>
    <p>Need professional support or development around GStreamer and Pitivi? Then you should probably talk to <a href="https://www.igalia.com">these guys</a>.</p>

    <h1>What did you do with the money?</h1>

    The numbers below may give a rough idea how we spent the money.

    <div id="donations">
        <div class="row">
            <div class="when">2013</div>
            <div class="value">+2000 USD</div>
            <div>GSoC</div>
        </div>
        <div class="row">
            <div class="when">2014</div>
            <div class="value">+21302 EUR</div>
            <div>Fundraiser</div>
        </div>
        <div class="row">
            <div class="when">2015</div>
            <div class="value">-17000 EUR</div>
            <div>Thibault and Mathieu worked on fundraiser goals</div>
        </div>
        <div class="row">
            <div class="when">2016</div>
            <div class="value">-5159 CHF</div>
            <div>Alex worked on bugfixing. Oct-Dec</div>
        </div>

        <div class="row zero-row">
            <div></div>
            <div>(zero)</div>
        </div>

        <div class="row">
            <div class="when">2019</div>
            <div class="value">+4200 USD</div>
            <div>GSoC</div>
        </div>
        <div class="row">
            <div class="when">2019</div>
            <div class="value">-2000 USD</div>
            <div>Thibault infrastructure bills</div>
        </div>
        <div class="row">
            <div class="when">2020</div>
            <div class="value">-5683 EUR</div>
            <div>Henry implemented time effects support in GES. Apr-Jun, 341 hours</div>
        </div>
        <div class="row">
            <div class="when">2020</div>
            <div class="value">+831 EUR</div>
            <div>Flattr</div>
        </div>
        <div class="row">
            <div class="when">2020</div>
            <div class="value">+2500 USD</div>
            <div>GSoC</div>
        </div>
        <div class="row">
            <div class="when">2020</div>
            <div class="value">+250 CHF</div>
            <div>Liberapay</div>
        </div>
 
        <div class="row zero-row">
            <div></div>
            <div>(zero)</div>
        </div>

        <div class="row">
            <div class="when">2021</div>
            <div class="value">+800 USD</div>
            <div>GSoC</div>
        </div>
        <div class="row">
            <div class="when">2022</div>
            <div class="value">+340 CHF</div>
            <div>Liberapay</div>
        </div>
        <div class="row">
            <div class="when">2022</div>
            <div class="value">+900 EUR</div>
            <div>GSoC</div>
        </div>
    </div>

</section>
    