/* Fonts from https://fonts.google.com */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&family=Roboto+Mono&family=Roboto:wght@300;400&family=Source+Sans+Pro&display=swap');

html {
    /* Unless we always show the vertical scroll bar, even when it's not needed,
       the centered header is displayed shifted on scrollable vs non-scrollable
       pages. */
    overflow-y: scroll;
}

body {
    font-family: 'Roboto', sans-serif;
    color: black;
    background-color: white;
    margin: 0 auto;
}

header > nav {
    margin-left: auto;
    margin-right: auto;
    max-width: 950px;
    padding-top: 1em;
}

header > nav > .logo {
    font-family: 'Nunito', sans-serif;
    font-size: 250%;
    font-weight: 400;
    margin: 10em 0px 0.3em 8px;

    background-image: url('/i/pitivi-2019-icon.svg');
    background-position-x: left;
    background-position-y: center;
    background-size: 64px;
    background-repeat: no-repeat;
    padding-left: 70px;
    padding-top: 12px;
}

header > nav > ul {
    float: right;
    padding: 0px;
    margin: 1.1em 1em 0px 0px;
}
header > nav > ul > li {
    display: inline;
    margin-left: 1em;
}
header > nav > ul > li > a {
    text-decoration: none;
    font-size: 150%;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
}

#content {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1em;
    clear: both;
}

footer {
    padding: 3em;
    clear: both;
    color: gray;
    text-align: center;
}

.footer-box {
    margin-left: auto;
    margin-right: auto;
    clear: both;
    padding-top: 0.5em;
    max-width: 430px;
}

section {
    margin: 0em 1em;
}

section.centered-introduction {
    max-width: 665px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1em;
    padding-right: 1em;
    clear: both;
}

section.auto-column-half {
    max-width: 440px;
    float: left;
}

img {
    /* Prevent upscaling which is particularly bad for screenshots. */
    max-width: 100%;
    height: auto;
}

video {
    /* Contrary to images, we can rarely predict the resolution of our videos
    And they usually look better/more uniform when occupying the whole space */
    width: 100%;
    height: auto;
    border: 1px solid black;
}

/* Generic text styles */

a.hidden {
    color: black;
}

a.discreet, a.hidden {
    text-decoration: none;
}
a.discreet:hover, a.hidden:hover {
    text-decoration: underline;
    text-decoration-thickness: 1px;
}

h1, h2, h3, h4, h5 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}
h2 {
    color: #94ac41;
}

h1 > img {
    padding-top: 0.5em;
}

a {
    color: #7590ae;
    text-decoration: underline;
}
a:hover {
    color: #90cf58;
    text-decoration: none;
}

ul {
    list-style-type: disc;
    padding: 0;
}
li {
    margin-bottom: 0.5em;
}

time {
    font-style: italic;
}

code {
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    color: white;
    background-color: black;
    padding: 3px;
}

.centered-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/* article */
.article {
    margin-bottom: 2em;
}

.article > .title {
    margin-bottom: 0;
}

.article > .summary {
    line-height: 1.5;
}

.article-meta {
    list-style-type: none;
    padding: 0;
    margin: 5px 0 15px 0;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: flex-end;
    align-items: flex-end;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}
.article-meta > li {
    padding: 0;
    padding-right: 4px;
    margin: 0;
}
.article-meta > li.article-meta-date {
    padding: 0;
    padding-right: 24px;
}
.article-meta > li.article-meta-tag > a > i {
    margin-right: 0.2em;
}

/* Home page */
section#frontpage_splash h1 {
    font-family: 'Source Sans Pro', sans-serif;
}

#audio_icon {
    width: 1.5em;
    color: lightgrey;
}

/* Donations */
#donations {
    display: table;
    margin-top: 1em;
}
#donations .row {
    display: table-row;
}
#donations .zero-row div {
    color: grey;
    text-align: center;
    padding-bottom: 1em;
    padding-top: 1em;
}
#donations .row div {
    display: table-cell;
    padding-right: 1em;
}
#donations .row .when {
    white-space: nowrap;
}
#donations .row .value {
    text-align: right;
    white-space: nowrap;
    font-family: 'Roboto Mono', monospace;
}