{{ define "main" }}

<h1>{{ .Title }}</h1>
{{- range .Pages.ByPublishDate.Reverse }}
<article class="article">
    <h2><a class="title discreet" href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
    {{ partial "metadata.html" . }}
    <div>{{ .Summary }}</div>
</article>
{{- end }}
{{ end }}