<footer>
    <div class="footer-box">
        <p>If you really like the work we do, you may consider <a href="/donators/">donating</a>.</p>
    </div>
    <div class="footer-box">
        <div style="font-size: 300%; float: left;">
            <a href="https://twitter.com/pitivi"><i class="fab fa-twitter-square"></i></a>
            <a href="https://gitlab.gnome.org/GNOME/pitivi"><i class="fab fa-gitlab"></i></a>
        </div>
        <div style="float: right;">
            <a href="https://tree-nation.com/profile/impact/pitivi#co2" target="_blank" style="position:relative;cursor:pointer;display:block;z-index:999;">
                <img src="https://tree-nation.com/images/tracking/label-co2-website-white-en.png" style="width:157px;height:auto;">
            </a>
        </div>
    </div>
    <div class="footer-box">
        {{ $editPath := "" }}
        {{- if .File }}
        {{- $editPath = printf "content/%s" .File.Path }}
        {{- else if .IsHome }}
        {{- $editPath = "layouts/index.html" }}
        {{- end }}
        {{- with $editPath -}}
        <p><a style="color: gray; font-size: smaller;" href="{{ $.Site.Params.gitlab }}/-/blob/master/{{ . }}">Edit this page</a></p>
        {{- end }}
    </div>
</footer>


<!-- Piwik, for stats -->
<script type="text/javascript">
var pkBaseURL = "https://piwik.ecchi.ca/";
document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
</script><script type="text/javascript">
try {
var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 5);
piwikTracker.trackPageView();
piwikTracker.enableLinkTracking();
} catch( err ) {}
</script>


<!-- https://tree-nation.com/offset-website -->
<script src="https://tree-nation.com/js/track.js"></script>
<script>treenation_track("6104650b7213b");</script>