<head>
    <title>{{ if .IsHome }}Pitivi, a free and open source video editor for Linux{{ else }}Pitivi — {{ .Name }}{{ end }}</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="revisit-after" content="10 days" />
    <meta name="robots" content="index, follow" />
    <meta name="viewport" content="initial-scale=1.0,
    width=device-width" />
    <link rel="stylesheet" type="text/css" href="/css/pitivi.css" />
    <!-- https://stackoverflow.com/questions/2268204/favicon-dimensions -->
    <link rel="icon" type="image/png" href="/i/pitivi-2019-icon-16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="/i/pitivi-2019-icon-32.png" sizes="32x32" />
    {{ range .AlternativeOutputFormats -}}
        {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
    {{ end -}}
    <script src="https://kit.fontawesome.com/762a6b0d58.js" crossorigin="anonymous"></script>
</head>
