<header>
    <nav id="menu">
        <a href="/" title="Go back to the home page" class="logo hidden">Pitivi</a>
        <ul>
            {{- range .Site.Menus.main }}
            <li><a href="{{ .URL }}" title="{{ .Title }}" class="hidden">
            {{- .Name | safeHTML -}}
            </a></li>
            {{- end }}
        </ul>
    </nav>
</header>
