<ul class="article-meta">
    {{- $dateTime := .PublishDate.Format "2006-01-02" }}
    {{- $dateFormat := .Site.Params.dateFormat | default "Jan 2, 2006" }}
    <li class="article-meta-date"><time datetime="{{ $dateTime }}">{{ .PublishDate.Format $dateFormat }}</time></li>
    {{- if .Params.tags }}
    {{- range .Params.tags }}
    <li class="article-meta-tag">
    <a href="{{ "/" | relURL }}tags/{{ . | urlize }}/" class="hidden">
        <i class="fas fa-tag"></i>{{ . }}
    </a>
    </li>
    {{- end }}
    {{- end }}
</ul>
