{{ define "main" }}
<section class="centered-introduction">
    <p><a href="" title="[pronounciation]" class="hidden" onclick="return play();">Pitivi <i id="audio_icon" class="fas fa-volume-up"></i></a> is a Free video editor with a beautiful and intuitive user interface, a clean codebase and a fantastic community. <a href="/contribute/">Join us!</a></p>
    <audio id="audio" src="/i/pitivi%20pronounciation.ogg"></audio>
    <script>
        function play() {
            let audio = document.getElementById("audio");
            if (audio.paused) {
                audio.play();
            } else {
                audio.pause();
            }
            return false;
        }

        function update() {
            let button = document.getElementById("audio_icon");
            if (audio.paused) {
                button.className = "fas fa-volume-up";
            } else {
                button.className = "fas fa-pause";
            }
        }

        const audio = document.getElementById("audio");
        audio.addEventListener("pause", update);
        audio.addEventListener("play", update);
    </script>
</section>

<section id="frontpage_splash" class="auto-column-half">
    <h1>We believe in allowing everyone on the planet to <a href="/showcase/">express themselves</a> through filmmaking, with tools that they can own and improve.</h1>

    <div style="margin-left: auto; margin-right: auto; margin-top: 1em;">
        <a href="/tour/" class="discreet">
            <h1 style="margin-bottom: 0.5em;">Take the tour...<img src="/i/screenshots/2020.05.png" alt="Pitivi screenshot"/></h1>
        </a>
    </div>

</section>

<section id="news" class="auto-column-half">
<h1><a href="/news/" class="hidden">News</a></h1>
<ul>
{{ $news := .Site.GetPage "news" }}
{{- range first 5 $news.Pages.ByPublishDate.Reverse }}
{{- $dateTime := .PublishDate.Format "2006-01-02" }}
{{- $dateFormat := .Site.Params.dateFormat | default "Jan 2, 2006" }}
<article class="article">
    <h2 class="title"><a class="discreet" href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
    {{ partial "metadata.html" . }}
    <div class="summary">{{ .Summary }}</div>
</article>
{{- end }}
</ul>
<p style="text-align: right; margin-right: 0;"><a href="/news/">Archive...</a></p>
</section>
{{ end }}